Repository XS-MLVP/UnityChipForXiangShan, pull requests merged in 2024-12, with the labels that each got.

#6 pred checker and rvc expander environments added
  configs/dutree/xiangshan-kmh.yaml
  documents/go.mod
  scripts/build_ut_backend_ctrl_block_decode.py
  scripts/build_ut_frontend_bpu_tagesc.py
  scripts/build_ut_frontend_ifu_pred_checker.py
  scripts/build_ut_frontend_ifu_rvc_expander.py
  ut_backend/ctrl_block/decode/env/decode_wrapper.py
  ut_backend/ctrl_block/decode/test_rv_decode.py
  ut_frontend/ifu/__init__.py
  ut_frontend/ifu/pred_checker/__init__.py
  ut_frontend/ifu/pred_checker/agent/__init__.py
  ut_frontend/ifu/pred_checker/bundle/__init__.py
  ut_frontend/ifu/pred_checker/bundle/auto_bundle.py
  ut_frontend/ifu/pred_checker/env/__init__.py
  ut_frontend/ifu/pred_checker/pred_checker_internal.yaml
  ut_frontend/ifu/pred_checker/test/__init__.py
  ut_frontend/ifu/pred_checker/test/pred_checker_dut.py
  ut_frontend/ifu/pred_checker/test/test_demo.py
  ut_frontend/ifu/rvc_expander/README.md
  ut_frontend/ifu/rvc_expander/__init__.py
  ut_frontend/ifu/rvc_expander/classical_version/__init__.py
  ut_frontend/ifu/rvc_expander/classical_version/env/__init__.py
  ut_frontend/ifu/rvc_expander/classical_version/env/rvc_expander_wrapper.py
  ut_frontend/ifu/rvc_expander/classical_version/test_rvc_expander.py
  ut_frontend/ifu/rvc_expander/toffee_version/__init__.py
  ut_frontend/ifu/rvc_expander/toffee_version/agent/__init__.py
  ut_frontend/ifu/rvc_expander/toffee_version/bundle/__init__.py
  ut_frontend/ifu/rvc_expander/toffee_version/env/__init__.py
  ut_frontend/ifu/rvc_expander/toffee_version/env/ref_rvc_expand.py
  ut_frontend/ifu/rvc_expander/toffee_version/test/__init__.py
  ut_frontend/ifu/rvc_expander/toffee_version/test/rvc_expander_fixture.py
  ut_frontend/ifu/rvc_expander/toffee_version/test/test_rvc.py
Labels: ut_frontend.ifu, new feature, new doc

#7 Decoupled checkpoints, added version-tag for testcases, and README for TAGE-SC
  ut_frontend/bpu/tagesc/README.md
  ut_frontend/bpu/tagesc/bundle/__init__.py
  ut_frontend/bpu/tagesc/bundle/internal.py
  ut_frontend/bpu/tagesc/bundle/port.py
  ut_frontend/bpu/tagesc/test/checkpoints_sc_predict.py
  ut_frontend/bpu/tagesc/test/checkpoints_sc_train.py
  ut_frontend/bpu/tagesc/test/checkpoints_tage_predict.py
  ut_frontend/bpu/tagesc/test/checkpoints_tage_train.py
  ut_frontend/bpu/tagesc/test/test_random.py
  ut_frontend/bpu/tagesc/test/test_spec_case.py
Labels: ut_frontend.bpu.tagesc, new feature

#8 test env added for 3 submodules of ifu
  scripts/build_ut_backend_ctrl_block_decode.py
  scripts/build_ut_frontend_ifu_f3predecoder.py
  scripts/build_ut_frontend_ifu_frontend_trigger.py
  scripts/build_ut_frontend_ifu_predecode.py
  ut_frontend/ifu/f3predecoder/README.md
  ut_frontend/ifu/f3predecoder/__init__.py
  ut_frontend/ifu/f3predecoder/agent/__init__.py
  ut_frontend/ifu/f3predecoder/agent/f3predecoder_agent.py
  ut_frontend/ifu/f3predecoder/bundle/__init__.py
  ut_frontend/ifu/f3predecoder/bundle/f3predecoder_bundle.py
  ut_frontend/ifu/f3predecoder/env/__init__.py
  ut_frontend/ifu/f3predecoder/env/f3predecoder_env.py
  ut_frontend/ifu/f3predecoder/test/__init__.py
  ut_frontend/ifu/f3predecoder/test/f3predecoder_fixture.py
  ut_frontend/ifu/f3predecoder/test/f3predecoder_test.py
  ut_frontend/ifu/frontend_trigger/README.md
  ut_frontend/ifu/frontend_trigger/__init__.py
  ut_frontend/ifu/frontend_trigger/agent/__init__.py
  ut_frontend/ifu/frontend_trigger/agent/frontend_trigger_agent.py
  ut_frontend/ifu/frontend_trigger/bundle/__init__.py
  ut_frontend/ifu/frontend_trigger/bundle/frontend_trigger_bundle.py
  ut_frontend/ifu/frontend_trigger/env/__init__.py
  ut_frontend/ifu/frontend_trigger/env/frontend_trigger_env.py
  ut_frontend/ifu/frontend_trigger/frontend_trigger_internal.yaml
  ut_frontend/ifu/frontend_trigger/test/__init__.py
  ut_frontend/ifu/frontend_trigger/test/demo_test.py
  ut_frontend/ifu/frontend_trigger/test/frontend_trigger_fixture.py
  ut_frontend/ifu/pred_checker/README.md
  ut_frontend/ifu/pred_checker/agent/__init__.py
  ut_frontend/ifu/pred_checker/bundle/__init__.py
  ut_frontend/ifu/pred_checker/test/pred_checker_dut.py
  ut_frontend/ifu/pred_checker/test/test_demo.py
  ut_frontend/ifu/predecode/README.md
  ut_frontend/ifu/predecode/__init__.py
  ut_frontend/ifu/predecode/agent/__init__.py
  ut_frontend/ifu/predecode/agent/predecode_agent.py
  ut_frontend/ifu/predecode/bundle/__init__.py
  ut_frontend/ifu/predecode/bundle/predecode_bundle.py
  ut_frontend/ifu/predecode/env/__init__.py
  ut_frontend/ifu/predecode/env/predecode_env.py
  ut_frontend/ifu/predecode/predecode_internal.yaml
  ut_frontend/ifu/predecode/test/__init__.py
  ut_frontend/ifu/predecode/test/predecode_fixture.py
  ut_frontend/ifu/predecode/test/predecode_test.py
Labels: ut_frontend.ifu, new feature, new doc, refine doc
